.picture-list {
  list-style-type: none;
  display: flex;
  flex-flow: wrap;

 
}
.pictures{
 
}
.picture-card{
  display: flex;
  flex-direction: column;

}
.favorites-list{
  display: flex;
  flex-flow: wrap;
  list-style-type: none;
  align-items: center;
}